
body {
    background-image: url("../images/indexbg.jpg");

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float:right
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */

  li a:hover {
    background-color: #111;
    
  }
  
  .active {
    background-color: #4CAF50;
  }

h1{
  background-color: rgba(0, 0, 0, 0.384);
  color: aliceblue;
  font-size: 7cm;
  margin-top: 8cm;
}
h3{
  background-color: rgba(0, 0, 0, 0.384);
  color: aliceblue;
  font-size: 0.5cm;
  margin-top: -4.7cm;

}
